# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Credentials file
credentials.*

# Ignore CLI configuration files
.terraformrc
terraform.rc
